<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
    <title>CRUD</title>
</head>
<body>
    <header>
        <h1>CRUD das Tabelas:</h1>
    </header>
    <div class="container">
        <nav role="navigation" aria-labelledby="menuHeading">
            <ul>
                <li><a href="/producao">Produção de Plástico Anualmente</a></li>
                <li><a href="/despejo">Despejo de Residuos</a></li>
            </ul>
        </nav>
    </div>
</body>